In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
from sqlalchemy import create_engine

In [2]:
csv_file = "../Data/superbowl-ads.csv"
superbowlads_df = pd.read_csv(csv_file)
superbowlads_df

,Year,Product Type,Product/Title,Plot/Notes
0,1969,Car,"Chrysler ""Scuba Diver""[4]",A scuba diver in a dreamy sequence with groovy...
1,1970,Car,"Pontiac""Humbler""",A young man pulled up in his GTO to a drive-in...
2,1975,Security,"Master Lock""Rifle""",A man attempts to break a Master Lock with a r...
3,1976,Copy,"Xerox""Monks""",A monk must make 500 handwritten scriptures fo...
4,1979,Soft drink,"Coca-Cola""Hey Kid, Catch!""","A young kid tries to talk to ""Mean"" Joe Greene..."
...,...,...,...,...
556,2020,Film,Mulan Trailer,NaN
557,2020,Food,"Doritos """"""The Cool Ranch"""""" ""Lil Nas X and Sa...",NaN
558,2020,Food,"Planters """"""Tribute"""""" ""Following his death in...",Mr. Peanut returns to life as a newborn child...
559,2020,Food,"Pop-Tarts Pretzel """"""Pop-Tarts Fixed the Pretz...","promoting it as an alternative to """"boring"""" ..."
560,2020,Website,"Facebook ""Facebook groups """"Ready to Rock"""" f...",NaN

In [3]:
superbowlads_df.dtypes

Year              int64
Product Type     object
Product/Title    object
Plot/Notes       object
dtype: object

In [4]:
superbowlads_df["Year"] = superbowlads_df["Year"].astype(str)

In [5]:
# Filter the data to see year 2020
superbowlads_1982_df = superbowlads_df.loc[superbowlads_df["Year"] == "1982"]
superbowlads_1982_df

,Year,Product Type,Product/Title,Plot/Notes
6,1982,Computer,"RadioShack""Color Computer""",A commercial for the TRS-80 computer.
7,1982,Restaurant,"McDonald's""Hopscotch""",Two kids are playing hopscotch while singing t...

In [6]:
sb_year = superbowlads_df.groupby(by=["Year"])
sb_year.head()

,Year,Product Type,Product/Title,Plot/Notes
0,1969,Car,"Chrysler ""Scuba Diver""[4]",A scuba diver in a dreamy sequence with groovy...
1,1970,Car,"Pontiac""Humbler""",A young man pulled up in his GTO to a drive-in...
2,1975,Security,"Master Lock""Rifle""",A man attempts to break a Master Lock with a r...
3,1976,Copy,"Xerox""Monks""",A monk must make 500 handwritten scriptures fo...
4,1979,Soft drink,"Coca-Cola""Hey Kid, Catch!""","A young kid tries to talk to ""Mean"" Joe Greene..."
...,...,...,...,...
545,2020,Beer,"Presidente """"""Never Left"""""" ""Features Alex Rod...",co-owner and chairman of the brand where he ...
546,2020,Car,"Audi e-tron Sportback """"""Let it Go"""""" ""Maisie ...",she passes by lowriders. A repair shop and a ...
547,2020,Car,"Hyundai Sonata """"""Smaht Pahk"""""" ""John Krasinsk...",which he refers to in a thick Boston accent a...
548,2020,Car,"Genesis GV80 """"""Going Away Party"""""" ""Chrissy T...","in favor of """"young luxury"""", symbolized by ..."
549,2020,Car,"GMC Hummer EV """"""Quiet Revolution"""""" ""Several ...",concluding with LeBron James sinking a slam d...

In [7]:
superbowlads_df.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [ ]:
superbowlads_df.set_index('Year')